Repository BlueRelief/bluerelief, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BlueRelief/frontend, @BlueRelief/backend, @geeth24

.github/CODEOWNERS:

# Default owners for everything in the repo
* @BlueRelief/frontend @BlueRelief/backend

# GitHub configuration files
/.github/ @geeth24

# Docker files
Dockerfile @geeth24
docker-compose.yml @geeth24
*.dockerfile @geeth24
/scripts/ @geeth24

# Client-side code
/client/ @BlueRelief/frontend

# Server-side code
/server/ @BlueRelief/backend

Enhance layout and update heatmap data in analysis page
  client/app/dashboard/analysis/page.tsx
Owners: @BlueRelief/frontend

Add analysis page UI with trends and details about crisis analysis
  client/app/dashboard/analysis/page.tsx
  client/app/dashboard/page.tsx
  client/app/dashboard/visualizations/page.tsx
  client/components/ui/separator.tsx
  client/package-lock.json
  client/package.json
  client/pnpm-lock.yaml
Owners: @BlueRelief/frontend

Update charting components and analysis page UI
  client/app/dashboard/analysis/page.tsx
  client/components/ui/card.tsx
  client/components/ui/chart.tsx
  client/package.json
  client/pnpm-lock.yaml
Owners: @BlueRelief/frontend

Add mask definition to logo component for improved SVG rendering
  client/components/logo.tsx
Owners: @BlueRelief/frontend

Refactor user authentication to include name and picture; update related components for improved user profile display
  client/app/dashboard/layout.tsx
  client/app/dashboard/settings/page.tsx
  client/hooks/use-auth.ts
  client/lib/auth.ts
  server/routers/auth.py
Owners: @BlueRelief/frontend, @BlueRelief/backend

Add Data Feed (user inteface only) with status, overview, and detail features
  client/app/dashboard/analysis/page.tsx
  client/app/dashboard/data-feed/page.tsx
  client/app/dashboard/layout.tsx
  client/app/globals.css
  client/components/ui/dialog.tsx
  client/components/ui/table.tsx
Owners: @BlueRelief/frontend

Update Layout and Data Feed
  client/app/dashboard/layout.tsx
Owners: @BlueRelief/frontend

Refactor authentication and database interactions: replace MySQL with PostgreSQL, update user handling, and enhance settings page avatar functionality
  client/app/dashboard/settings/page.tsx
  server/db_utils/db.py
  server/main.py
  server/requirements.txt
  server/routers/auth.py
Owners: @BlueRelief/frontend, @BlueRelief/backend

Fix merge conflict with dashboard layout page
  client/app/dashboard/layout.tsx
  client/app/login/page.tsx
Owners: @BlueRelief/frontend

Map and mock data
  client/app/dashboard/analysis/page.tsx
  client/app/globals.css
  client/package-lock.json
  client/package.json
  client/pnpm-lock.yaml
  client/types/mapbox-gl.d.ts
  docker-compose.yml
  package-lock.json
  server/main.py
  server/routers/incidents.py
Owners: @BlueRelief/frontend, @geeth24, @BlueRelief/backend

Refactor analysis page to integrate dynamic crisis map
  client/app/dashboard/analysis/page.tsx
  client/components/crisis-map.tsx
  client/package-lock.json
  client/package.json
  client/pnpm-lock.yaml
  client/types/mapbox-gl.d.ts
  docker-compose.yml
Owners: @BlueRelief/frontend, @geeth24

Add Radix UI dropdown menu component and enhance dashboard layout
  client/app/dashboard/[...not_found]/page.tsx
  client/app/dashboard/data-feed/page.tsx
  client/app/dashboard/layout.tsx
  client/app/dashboard/not-found.tsx
  client/app/dashboard/page.tsx
  client/app/favicon.ico
  client/app/globals.css
  client/app/layout.tsx
  client/app/not-found.tsx
  client/components/crisis-map.tsx
  client/components/ui/dropdown-menu.tsx
  client/package.json
  client/pnpm-lock.yaml
  client/public/bluerelief-logo.png
  client/public/bluerelief-logo.svg
  client/public/file.svg
  client/public/globe.svg
  client/public/next.svg
  client/public/vercel.svg
  client/public/window.svg
  server/routers/incidents.py
Owners: @BlueRelief/frontend, @BlueRelief/backend

fix: improve authentication architecture and prevent frequent logouts
  client/hooks/use-auth.ts
  client/lib/api-client.ts
  client/lib/auth.ts
  server/routers/auth.py
Owners: @BlueRelief/frontend, @BlueRelief/backend

Add GitHub Actions workflow for Kubernetes deployment
  .github/deploy.yml
  client/Dockerfile
Owners: @geeth24, @BlueRelief/frontend

Replace deploy.yml with a new GitHub Actions workflow for Kubernetes deployment
  .github/workflows/deploy.yml
Owners: @geeth24

Update Not Found pages and clean up dashboard components
  client/app/dashboard/data-feed/page.tsx
  client/app/dashboard/not-found.tsx
  client/app/dashboard/page.tsx
  client/app/dashboard/settings/page.tsx
  client/app/not-found.tsx
  client/components/crisis-map.tsx
  client/lib/auth.ts
Owners: @BlueRelief/frontend

Update deployment paths in GitHub Actions workflow
  .github/workflows/deploy.yml
Owners: @geeth24

Enhance GitHub Actions workflow for deployment
  .github/workflows/deploy.yml
Owners: @geeth24

Update deploy workflow configuration
  .github/workflows/deploy.yml
Owners: @geeth24

Refactor apiPost and apiPut function signatures to use 'unknown' type for data parameter
  client/lib/api-client.ts
Owners: @BlueRelief/frontend

split workflows to avoid skipped checks on PRs
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
Owners: @geeth24

add auto-merge workflow for approved PRs
  .github/workflows/auto-merge.yml
Owners: @geeth24

use merge instead of squash for auto-merge
  .github/workflows/auto-merge.yml
Owners: @geeth24

separate cleanup workflow to avoid skipped checks
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-preview.yml
Owners: @geeth24

Update environment configuration and enhance error handling
  client/Dockerfile
  client/Dockerfile.prod
  client/app/dashboard/data-feed/page.tsx
  client/app/dashboard/not-found.tsx
  client/app/dashboard/page.tsx
  client/app/dashboard/settings/page.tsx
  client/app/not-found.tsx
  client/components/crisis-map.tsx
  client/lib/api-client.ts
  client/lib/auth.ts
  client/next.config.ts
  docker-compose.yml
  environment.example
  scripts/build-and-push.sh
  server/Dockerfile
  server/Dockerfile.prod
  server/main.py
  server/routers/auth.py
Owners: @BlueRelief/frontend, @geeth24, @BlueRelief/backend

Refactor auto-merge workflow to use GraphQL mutation for enabling auto-merge
  .github/workflows/auto-merge.yml
Owners: @geeth24

Enhance auto-merge workflow to check PR readiness
  .github/workflows/auto-merge.yml
Owners: @geeth24

Refine auto-merge workflow to filter relevant checks and enhance logging
  .github/workflows/auto-merge.yml
Owners: @geeth24

Enhance auto-merge workflow with additional checks and improved logging
  .github/workflows/auto-merge.yml
Owners: @geeth24

Improve auto-merge workflow logging and readiness checks
  .github/workflows/auto-merge.yml
Owners: @geeth24

Enhance auto-merge workflow with preview deployment checks
  .github/workflows/auto-merge.yml
Owners: @geeth24

Update auto-merge workflow to include completion checks for 'Deploy Preview' workflow
  .github/workflows/auto-merge.yml
Owners: @geeth24

Refactor auto-merge workflow to improve PR number handling and logging
  .github/workflows/auto-merge.yml
Owners: @geeth24

Enhance auto-merge workflow with pull request synchronization handling
  .github/workflows/auto-merge.yml
Owners: @geeth24

Refactor auto-merge workflow to streamline PR handling and logging
  .github/workflows/auto-merge.yml
Owners: @geeth24

Enhance auto-merge workflow with manual trigger support and improved PR handling
  .github/workflows/auto-merge.yml
Owners: @geeth24

Remove auto-merge workflow configuration
  .github/workflows/auto-merge.yml
Owners: @geeth24

split workflows to avoid skipped checks on PRs (#17)
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
Owners: @geeth24

Update environment configuration and enhance error handling (#18)
  client/Dockerfile
  client/Dockerfile.prod
  client/components/crisis-map.tsx
  client/next.config.ts
  docker-compose.yml
  environment.example
  scripts/build-and-push.sh
  server/Dockerfile
  server/Dockerfile.prod
  server/main.py
  server/routers/auth.py
Owners: @BlueRelief/frontend, @geeth24, @BlueRelief/backend

Refactor Dockerfiles to use curl for installer and switch to uv for package installation
  server/Dockerfile
  server/Dockerfile.prod
Owners: @BlueRelief/backend
