Repository BlueRelief/bluerelief, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BlueRelief/frontend, @BlueRelief/backend, @geeth24

Refactor Dockerfiles to use curl for installer and switch to uv for package installation (#19)
  server/Dockerfile
  server/Dockerfile.prod
Owners: @BlueRelief/backend

Enhance BlueSky integration and add Celery support
  docker-compose.yml
  environment.example
  server/celery_app.py
  server/db_utils/db.py
  server/main.py
  server/requirements.txt
  server/routers/bluesky.py
  server/services/__init__.py
  server/services/analysis.py
  server/services/bluesky.py
  server/services/database_service.py
  server/tasks.py
Owners: @geeth24, @BlueRelief/frontend, @BlueRelief/backend

Update server dependencies in requirements.txt
  server/requirements.txt
Owners: @BlueRelief/backend

Enhance branch name handling in workflows
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-preview.yml
Owners: @geeth24

Add cleanup and deploy preview workflows
  .github/workflows/cleanup-preview-comment.yml
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-preview-comment.yml
  .github/workflows/deploy-preview.yml
Owners: @geeth24

Remove deprecated cleanup and deploy preview workflows
  .github/workflows/cleanup-preview-comment.yml
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-preview-comment.yml
  .github/workflows/deploy-preview.yml
Owners: @geeth24

Add automated semantic versioning and version management scripts
  .github/workflows/deploy-production.yml
  CHANGELOG.md
  README.md
  VERSION
  VERSIONING.md
  client/Dockerfile
  client/Dockerfile.prod
  scripts/auto-version.sh
  scripts/version.sh
  server/Dockerfile
  server/Dockerfile.prod
  server/main.py
Owners: @geeth24, @BlueRelief/frontend, @BlueRelief/backend

Enhance automated versioning and documentation
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/label-pr.yml
  .github/workflows/release-drafter.yml
  CHANGELOG.md
  README.md
  SETUP.md
  VERSIONING.md
  scripts/setup-labels.sh
Owners: @geeth24, @BlueRelief/frontend, @BlueRelief/backend

Remove outdated documentation files
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-notes.yml
  CHANGELOG.md
  SETUP.md
  VERSIONING.md
Owners: @geeth24, @BlueRelief/frontend, @BlueRelief/backend

Add automated label creation script and update README for versioning
  .github/workflows/deploy-production.yml
  .github/workflows/label-pr.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-notes.yml
  README.md
  create-labels.sh
  scripts/setup-labels.sh
Owners: @geeth24, @BlueRelief/frontend, @BlueRelief/backend

Remove subject pattern validation from PR labeling workflow
  .github/workflows/label-pr.yml
Owners: @geeth24

Enhance PR labeling workflow to include type labels based on title
  .github/workflows/label-pr.yml
Owners: @geeth24

.github/CODEOWNERS:

# Default owners for everything in the repo
* @BlueRelief/frontend @BlueRelief/backend

# GitHub configuration files
/.github/ @geeth24

# Docker files
Dockerfile @geeth24
docker-compose.yml @geeth24
*.dockerfile @geeth24
/scripts/ @geeth24

# Client-side code
/client/ @BlueRelief/frontend

# Server-side code
/server/ @BlueRelief/backend
